*{
	text-decoration: none;
	margin: 0px;
	font-family: Verdana;
}

body{
	background-color: DarkSeaGreen;
}

header{
	width: 100%;
	min-height: 180px;
	background-image: url("Boy.jpg");
	background-color: SlateGrey;
	text-align: center;
}

h1{
	padding-top: 90px;
	color: HoneyDew;
}

nav{
	position: relative;
	background-color: black;
	
}

nav ul li{
	display: inline-block;
	position: relative;
	
	padding: 10px;
	
	color: white;
}

nav ul li a{
	color: white;
	border-radius: 0px;
}

nav ul li:hover{
	background-color: DarkSeaGreen;
}

aside{
	float: left;
	width: 23%;
	padding: 1%;

	
	
	background-color: HoneyDew;
}

button {
	margin: 10px;
	
	float: left;
}

section{
	float: right;
	width: 73%;
	padding: 1%;
	min-height: 562.5px;
	
	
	background-color: HoneyDew;
}

.mosh{
	float: left;
	margin: 10px;
	
}

.swing{
	float: left;
	margin: 10px;
}

.gif{
	float: left;
	margin: 10px;
	
}

.gif img {
	width: 320px;
	height: 212px;
}

section .page2 img {
	float: right;
	margin: auto;
	height: 164px;
	width: 115px;
	padding: 5px;
}

#bluescreen img {
	float: right;
	max-height: 360px; 
	max-width: 460px;
	margin: auto;
	padding: 5px;
}

.games ul li a:hover{
	color: ForestGreen;
	text-decoration: overline;
}

.games ul li a{
	text-decoration: underline;
}

#bluescreen p {
	text-align: justify;
	float: left;
	max-width: 800px;
	margin: auto;
}

.crack {
	text-align: justify;
	float: left;
	max-width: 1000px;
	margin:auto;
}

.crack span {
	color: Crimson;
	font-weight: bold;
}

section p{
	
	padding: 10px;
	
	
}

section ul li a{
	color: black;
	
	
	
}

.one li {
	padding-top: 20px;
	
	min-height: 80px;
}

.audiopicture {
	float: right;
	margin: auto;
	background-color: WhiteSmoke;
}

.audiopicture1 {
	float: right;
	margin: auto;
	background-color: WhiteSmoke;
}

.audiopicture2 {
	float: right;
	margin: auto;
	background-color: WhiteSmoke;
}

.audiopicture img{
	height: 250px;
	width: 250px;
}

.audiopicture1 img{
	height: 250px;
	width: 250px;
}

.audiopicture2 img{
	height: 250px;
	width: 250px;
}

audio {
	width: 250px;
}

.home li{
	padding-bottom: 25px;
	padding-top: 25px;
	padding-left: 10px;
	text-decoration: none;
	border: 2px solid HoneyDew;
	border-style: outset;
	margin-top: 60px;
	margin-bottom: 60px;
	font-size: 23px;
}

section h2{
	padding:20px;
}

video{
	width: 300px;
	height: 200px;
	float:right;
	margin: auto;
	padding: 10px;
}

#cave {
	float: left;
	text-align: justify;
	max-width: 800px;
}

#train {
	float: left;
	text-align: justify;
	max-width: 800px;
}

.pong img{
	max-width: 300px;
	max-height: 120px;
	margin: auto;
	float: right;
	padding: 10px;
}

.pong p{
	max-width: 800px;
	float: left;
	text-align: justify;
	
}

.rasp img {
	max-width: 300px;
	max-height: 120px;
	margin: auto;
	float: right;
	padding: 10px;
}

.rasp p{
	max-width: 800px;
	float: left;
	text-align: justify;
	
}

.oversea p{
	max-width: 800px;
	float: left;
	text-align: justify;
	
}

.oversea img {
	max-width: 300px;
	max-height: 120px;
	margin: auto;
	float: right;
	padding: 10px;
}

.oversea {
	padding: 25px;
}

.rasp{
	padding: 25px;
}

.pong{
	padding: 25px;
}

h5 {
	padding: 20px 0px 20px 0px;
	text-indent: 30px;
}

.stopfloat{
	clear: both;
}

article{
	border: 2px solid HoneyDew;
	border-style: outset;
	min-height: 200px;
	margin-top: 5px;
}

footer{
	clear: both;
	min-height:100px;
	margin-bottom:auto;
	padding: 15px;
	
	
	background-color: DimGrey;
}

a:active{
	
	font-size: 1.05em;
}

img{
	position: relative;
	float: right;
	
}

.text {
	position: relative;
	float: left;
	max-width: 700px;
	
}